.itempage {
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;

    margin-top: 65px;
  }
}

.block {
  &-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img {
      max-width: 664px;
      max-height: 471px;
    }
  }
  &-right {
    display: flex;
    flex-direction: column;

    p {
      margin-top: 35px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;

      color: $green;
    }
  }
}

.item {
  &-header {
    p {
      margin-top: 0;
      margin-bottom: 10px;

      font-weight: 400;
      font-size: 30px;
      line-height: 150%;

      color: $black;
    }

    span {
      font-weight: 800;
    }
  }

  &-weight {
    display: flex;
    align-items: center;
    gap: 5px;

    margin-bottom: 16px;
    font-size: 12px;
    line-height: 130%;

    color: $cello;
  }

  &-control {
    display: flex;
    margin-bottom: 20px;

    form {
      display: flex;
      align-items: center;

      gap: 40px;
    }
  }

  &-share {
    display: flex;
    margin-bottom: 35px;

    gap: 10px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 77px;

      background: #ffffff;

      box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
      border-radius: 10px;
    }
  }

  &-data {
    margin-bottom: 30px;

    li {
      margin-bottom: 5px;
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;

      color: $cello;

      span {
        font-weight: 500;
        color: $black;
      }
    }

    ul.data-list li:nth-child(n + 5) {
      display: block;
    }
  }

  &-description {
    padding-bottom: 20px;
    border-bottom: 1px dashed rgba(63, 78, 101, 0.1);
    p {
      margin-top: 15px;
      margin-bottom: 0;

      font-weight: 300;
      font-size: 12px;
      line-height: 150%;

      color: $cello;

      display: block;
    }
  }
}

.btn {
  &-cart {
    height: 59px;
    width: 184px;

    gap: 12px;
  }

  p {
    margin: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $white;
  }
}

.share {
  height: 77px;
  width: 77px;
}

.offer {
  width: 316px;
  p {
    margin: 0;
    width: 245px;
    font-size: 12px;
    line-height: 150%;
    text-align: center;

    color: $cello;
  }

  span {
    font-weight: 700;
  }
}

.pricelist {
  &-dark {
    width: 186px;
    gap: 12px;

    p {
      margin: 0;

      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: $cello;
    }
  }
}

.show {
  &-description {
    appearance: none;
    padding-right: 15px;

    background-image: url('../assets/img/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: 82px 60%;
    background-size: 7px;

    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }

  &-parameters {
    margin-top: 20px;
    margin-bottom: 15px;
    appearance: none;
    padding-right: 15px;

    background-image: url('../assets/img/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: 135px 60%;
    background-size: 7px;

    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }

  &-line {
    display: none;
  }
}

.hidden {
  display: none;
}

.list {
  &-hidden li:nth-child(n + 1) ~ li:nth-child(n + 5) {
    display: none;
  }
}

.description-hidden {
  p {
    display: none;
  }
}

.expanded {
  background-image: url('../assets/img/arrow-up.svg');
}

.size {
  &-abbreviation {
    font-weight: 700;
    font-size: 8px;
    line-height: 12px;
  }
}

@media (max-width: 1159px) {
  .itempage {
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      column-gap: 40px;

      margin-top: 65px;
    }
  }

  .block {
    &-right {
      align-items: center;
    }
  }
}

@media (max-width: 659px) {
  .block {
    &-left {
      img {
        margin-left: 17px;
        margin-right: 17px;
        justify-content: center;
        height: auto;
        width: 80%;
      }
    }

    &-right {
      position: relative;
      align-items: flex-start;
    }
  }
  .item {
    &-header {
      display: flex;
      p,
      span {
        font-size: 16px;
      }
    }

    &-price {
      font-size: 20px;
    }

    &-control {
      flex-wrap: wrap;
    }

    &-share {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    &-weight {
      margin-bottom: 20px;
    }

    &-description {
      border-bottom: 2px;
    }
  }

  .pricelist {
    &-dark {
      width: 100%;
    }
  }

  .offer {
    width: 100%;
  }

  #form-controlling {
    flex-wrap: wrap;
    gap: 20px;
  }

  .itempage {
    &-wrapper {
      margin-top: 25px;
    }
  }

  .item-in-stock {
    margin-top: 15px !important;
  }

  .show {
    &-description {
      margin-bottom: 20px;
    }
    &-parameters {
      margin-top: 0;
    }

    &-line {
      display: block;
    }
  }

  .share {
    position: absolute;
    top: 182px;
    right: 15px;

    height: 59px !important;
    width: 59px;
  }
}
